/* Good Luck! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

header,
footer {
    background-image: linear-gradient(to top, darkblue, blue);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
}

.browsers {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: space-evenly;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.browser {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-image: linear-gradient(rgb(246, 246, 246), rgb(183, 183, 183));
    box-shadow: 0 5px 5px #111;
}

.browser h2 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 3px 3px #111;
    animation: 
        appear 2000ms, 
        rainbow 4000ms linear infinite;
}

.img {
    border: 2px solid black;
    max-width: 150px;
    float: left;
    margin-right: 20px;
    background-color: #fff;
}

.img img {
    width: 100%;
    border-radius: 50%;
    animation: roll 1000ms ease;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

.control {
    text-align: center;
}

.btn {
    border: none;
    background-color: darkblue;
    color: #fff;
    font-style: 1rem;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0 3px 5px #111;
    cursor: pointer;
}

footer a {
    color: #fff;
}

@media (min-width: 900px) {
    .browsers {
        grid-template-columns:repeat(2, 1fr);
    }

    footer ul {
        display: flex;
        justify-content: center;
    }

    footer li {
        margin-right: 20px;
    }
    footer li:last-child {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .browsers {
        grid-template-columns:repeat(3, 1fr);
    }
}

@keyframes roll {
    from{
        transform: 
            translate(-100vw)
            rotate(0);
    }
    to {
        transform:
            translate(0)
            rotate(2turn);
    }
}

@keyframes rainbow {
    0% {
        color: hsl(0, 100%, 50%);
    }
    10% {
        color: hsl(36, 100%, 50%);
    }
    20% {
        color: hsl(72, 100%, 50%);
    }
    30% {
        color: hsl(108, 100%, 50%);
    }
    40% {
        color: hsl(142, 100%, 50%);
    }
    50% {
        color: hsl(178, 100%, 50%);
    }
    60% {
        color: hsl(214, 100%, 50%);
    }
    70% {
        color: hsl(250, 100%, 50%);
    }
    80% {
        color: hsl(286, 100%, 50%);
    }
    90% {
        color: hsl(322, 100%, 50%);
    }
    100% {
        color: hsl(358, 100%, 50%);
    }
}

@keyframes appear {
    0% {
        transform: translateX(150vw);
    }
    100% {
        transform: translateX(0);
    }
}
